<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="~/Content/site.css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>